:root{
  --white30: #FFF;
  --white20: #A5A3A5;
  --black30: #251F24;
  --black20: #3A3539;
  --black10: #424242;

}

body{
  color: var(--white30);
  font-family: 'Nunito', sans-serif;
  background: var(--black30);
  margin: 0;
}

a{
  color: var(--white30);
}

.header-content{
  padding-inline: 20px;
}

header{
  margin-block-start: 20px;
  font-size: 14px;
}

header li{
  color: var(--white20);
  margin-block-end: 16px;
}

header a{
  color: var(--white20);
  text-decoration: none;
}

header a:hover{
  color: var(--white30);
}

nav details summary{
  font-weight: bold;
  color: var(--white30);
}

h1{
  font-size: 40px;
  margin-block-start: 20px;
  margin-block-end: 16px;
}

hr{
  margin-block: 40px;
  border: 1px solid rgba(97, 97, 97, 0.2);
}

h2{
  font-size: 2em;
  margin-block: 40px;
}

h1, h2{
  font-weight: 700;
}

h3{
  font-size: 24px;
  font-weight: 600;
  margin-block: 16px;
}

h4{
  margin-block-start: 40px;
  margin-block-end: 16px;
  font-size: 20px;
  line-height: 27.28px;
  font-weight: normal;
}

h5{
  text-align: center;
  line-height: 28.13px;
}

p{
  color: var(--white20);
}

.wrapper{
  max-inline-size: 636px; /*width*/
  margin: auto;
}

.main-content{
  padding-inline: 16px;
}

.section-content{
  counter-reset: titleList;
}

.main hr{
  display: none;
}

.section-content h3{
  counter-increment: titleList;
}

.section-content h3::before{
  content: counter(titleList, decimal)". ";
}

.section-content img{
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
}

.section-content ol, .section-content ul{
  color: var(--white20);
}

pre{
  background: var(--black20);
  border-radius: 8px;
  padding: 40px;
  overflow: auto;
}

.hero{
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  block-size: 100px;
}

blockquote{
  margin-block-start: 80px;
  margin-block-end: 63px;
  margin-inline: 0;
  background: var(--black20);
  border-radius: 8px;
  padding: 24px;
  font-size: 24px;
  line-height: 32px;
}

blockquote p{
  color: var(--white30)
}

blockquote p span::before{
  content: '- ';
}

/* .slider{
  
} */

.slider-container{
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video{
  margin: 0;
  display: inline-block;
  inline-size: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-buller-list{
  text-align: center;
  margin-block-start: 16px;
}

.slider-buller-list a{
  text-decoration: none;
}

.slider-buller-list a:active{
  background: #fff;
}

.slider-bullet{
  display: inline-block;
  inline-size: 16px;
  block-size: 16px;
  background: var(--black10);
  border-radius: 50%;
  margin-inline: 4px;
}

.info-correo{
  margin-block-start: 40px;
  font-size: 17px;
  line-height: 24px;
  color: var(--white30);
}

.info-correo a{
  color: #157EFB;
}

.form input{
  box-sizing: border-box;
  inline-size: 100%;
  border: 1px solid var(--white30);
  border-radius: 8px;
  background: var(--black30);
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--white30);
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
}

.form input[type="submit"]{
  background: #157EFB;
  line-height: 24px;
  border: none;
  margin-block-end: 0;
}

.form ::placeholder{
  color: var(--white30);
}

.newsletter-section{
  margin-block-end: 40px
}

.footer{
  background: var(--white30);
  color: var(--black30);
  padding-block-start: 48px;
  padding-block-end: 42px; 
}

.footer h5{
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  margin-block-end: 19px;
  
}

.social-container{
  text-align: center;
}

.social-container a{
  color: var(--black30);
  text-decoration: none;
  display: inline-block;
  inline-size: 24px;
  block-size: 24px;
  box-sizing: border-box;
  padding: 3px;
  margin-inline: 8px;
}

.social-container a img{
  inline-size: 100%;
  block-size: 100%;
}



@media screen and (min-width: 1366px) {
  .header{
    position: sticky;
    inset-block-start: -45px;
  }
  
  .header-content{
    position: relative;
    inset-block-start: 70px;
    padding-inline: 0;
  }
  
  header{
    position: absolute;
    inset-block-start: 0;
    inline-size: 306px;
    inset-inline-start: -306px;
  }

  .hero{
    block-size: 350px;
  }

  h1{
    font-size: 60px;
    margin-block-start: 64px;
    margin-block-end: 16px;
  }

  h4{
    font-size: 24px;
    line-height: 32.74px;
  }

  h5{
    line-height: 43.65px;
  }

  .info-correo{
    margin-block-start: 51px;
  }

  .newsletter-section{
    margin-block-end: 80px
  }

}