:root{
  --gray30: #353535;
  --gray20: #212429;
  --gray10: #616161;
}

html{
  scroll-behavior: smooth;
}

body{
  color: var(--gray30);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a{
  color: var(--gray30);
}

header{
  font-size: 14px;
  color: var(--gray10);
  position: absolute;
  width: 188px;
  left: -232px;
  top: 64px

}

header li{
  margin: 16px 0;
}

header a{
  color: var(--gray10);
  text-decoration: none;
}

header a:hover{
  color: var(--gray30);
}

nav details summary{
  font-weight: bold;
  line-height: 24px;
}

h1{
  font-size: 60px;
  font-weight: normal;
  /* font-size: 3.75em; */
  margin-top: 64px;
  margin-bottom: 16px;
}

hr{
  margin: 64px 0;
}

h2{
  font-size: 2em;
  font-weight: normal;
  margin: 64px 0 40px;
}

h3{
  font-size: 24px;
  font-weight: normal;
  margin: 16px 0;
  position: relative;
}

.wrapper{
  width: 902px;
  margin: auto;
}

.header{
  position: sticky;
  top: 0;
}

.header-content{
  position: relative;
}

/* .main{
  position: relative;
} */

.main-content{
  background-color: white;
}

.section-content ol li{
  line-height: 24px;
}

.section-content ul li{
  margin-bottom: 16px;
}

.section-content + hr{
  display: none;
}

.section-content img{
  margin-top: 40px;
}

.section-content:first-of-type{
  margin: 0;
}

.section-content{
  counter-reset: titleList;
  margin-top: 164px;
}

.section-content h3{
  counter-increment: titleList;
  padding-bottom: 8px;
}

.section-content h3::before{
  content: counter(titleList, decimal)". ";
}

.section-content h3::after{
  content: '';
  width: 80px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

pre{
  background: #FEC62E;
  padding: 40px;
  font-family: 'Roboto';
  line-height: 24px;
}

blockquote{
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;
  border-left: 4px solid var(--gray30);
  line-height: 32px;
}

blockquote span{
  color:var(--gray10)
}

blockquote span::before{
  content: '- ';
}

.hero{
  background: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent), url(../images/pattern.svg);
  height: 350px;
}

